.container.auth {
  width: 100vw;
  height:100vh;
  background: #1f293a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.auth span {
  position: absolute;
  left: 0;
  width: 32px;
  height: 6px;
  background: #2c4766;
  border-radius: 8px;
  transform-origin: 128px;
  transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
  animation: animateBlink 3s linear infinite;
  animation-delay: calc(var(--i) * (3s / 50));
}

@keyframes animateBlink {
  0% {
    background: #0ef;
  }

  25% {
    background: #2c4766;
  }
}

.auth-box {
  position: absolute;
  width: 400px;
}

.auth-box form {
  width: 100%;
  padding: 0 50px;
}

.auth-box h2 {
  font-size: 2em;
  color: #0ef;
  text-align: center;
}

.auth .input-box {
  position: relative;
  margin: 25px 0;
}

.auth .input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid #2c4766;
  outline: none;
  border-radius: 40px;
  font-size: 1em;
  color: #fff;
  padding: 0 20px;
  transition: 0.5s;
}

.auth .input-box input:focus,
.auth .input-box input:valid {
  border-color: #0ef;
}

.auth .input-box label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: 0.5s ease;
}

.auth .input-box input:focus ~ label,
.auth .input-box input:valid ~ label {
  top: 1px;
  font-size: 0.8em;
  background-color: #1f293a;
  padding: 0 6px;
  color: #0ef;
}

.auth .forgot-password {
  margin: -15px 0 10px;
  text-align: center;
}

.auth .forgot-password a {
  font-size: 0.85em;
  color: #fff;
  text-decoration: none;
}

.auth .forgot-password a:hover {
  text-decoration: underline;
}

.auth .btn {
  width: 100%;
  height: 45px;
  border-radius: 45px;
  background: #0ef;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  color: #1f293a;
  font-weight: 600;
}
/* Sign up */
