@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;900&display=swap");
/* font-family: "Barlow Semi Condensed", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");
/* font-family: 'Baloo 2', cursive; */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #272525;
}

::-webkit-scrollbar-thumb {
  background-color: #140b46;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  background-image: linear-gradient(180deg, #4b1d3e, #101c5e, #36408d);
  background-size: cover;
  background-attachment: fixed;
  min-width: 100vh;
  margin-bottom: 2rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: 0;
  margin: 0;
}

.products {
  font-family: "Baloo 2", cursive;
  position: absolute;
  left: 0;
  width: 100vw;
  top: 0;
  font-weight: 700;
  color: cornflowerblue;
  font-size: x-large;
}

.products main {
  position: relative;
  top: 0;
}

.products .add-product {
  position: relative;
  z-index: 10000;
  text-align: center;
}
.products .add-product button  {
  cursor: pointer;
  user-select: none;
  background-image: linear-gradient(180deg, #4b1d3e, #101c5e, #36408d);
  padding: 6px 30px;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  border: 1px solid #fff;
  margin-top: 15px;
  margin-bottom: 30px;
}
.products .add-product form  {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  gap: 15px;
}
.products .add-product form input  {
  padding: 9px 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}
.products .add-product form input:focus  {
  outline: none;
}
.products .add-product form button  {
  width: fit-content;
  margin: auto;
}
