

.landing-body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  background-image: linear-gradient(180deg, #9a1574, #3f51b5, #000212);
  background-size: cover;
  background-attachment: fixed;
  min-width: 100vh;
  margin-bottom: 2rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: aliceblue;
}

.landing-body .app {
  font-family: "Baloo 2", cursive;
  position: absolute;
  left: 0;
  width: 100vw;
  top: 0;
  font-weight: 700;
  color: cornflowerblue;
  font-size: x-large;
}
